/* body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4em;
    padding: 4em;
    background-color: lightgrey;
} */

body {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom:16px;
    text-align:center;
    background-color: lightgrey;
}

.message-container {
    background-color: white;
    margin: 10px 180px;
    padding: 5px 5px;
}
